BOT_TOKEN=ваш_токен_телеграм_бота
PROXMOX_HOST=your_proxmox_ip:8006
PROXMOX_USER=root@pam

# Данные для доступа через API Token (Proxmox -> Datacenter -> Permissions -> API Tokens)
PROXMOX_TOKEN_ID=root@pam!MyToken
PROXMOX_TOKEN_SECRET=ваш_секретный_код_токена

# Отключение проверки SSL-сертификата (если используете самоподписанный)
PROXMOX_VERIFY_SSL=False

# ID администраторов Telegram (через запятую) которым разрешен доступ к боту
ADMIN_IDS=123456789,987654321

# Конфигурация 3X-UI (Xray Panel)
XUI_HOST=http://your_xui_ip:your_xui_port
XUI_USERNAME=your_xui_username
XUI_PASSWORD=your_xui_password

# Путь к папке с плейбуками Ansible (например: C:/Users/username/ansible или /opt/ansible)
# Можно оставить пустым, тогда бот будет искать .yml файлы в папке проекта
ANSIBLE_PLAYBOOKS_DIR=./playbooks

# Прокси для Telegram (HTTP или SOCKS5), оставьте пустым если не нужно
# Пример: http://login:pass@12.34.56.78:8080 или socks5://12.34.56.78:1080
PROXY_URL=

# ==========================================
# Мониторинг LXC Контейнеров
# ==========================================
# Пороги предупреждений по ресурсам (в %)
MONITOR_LXC_CPU=90
MONITOR_LXC_RAM=90
MONITOR_LXC_DISK=90

# Белый список портов (не отправлять алерты о подключениях на эти порты, через запятую)
MONITOR_LXC_PORTS_WHITELIST=80,443,53,123

# Особо чувствительные порты (алерты о подключениях приходят мгновенно, через запятую)
MONITOR_LXC_PORTS_SENSITIVE=22,3389,3306,5432,27017,8006

# Доверенные IP-адреса администраторов (через запятую), которые не будут спамить алертами при доступе к 8006 и 22
TRUSTED_ADMIN_IPS=your_admin_ip

# Идентификатор контейнера с VPN
VPN_VMID=101
# Входящие порты VPN-сервиса (через запятую)
MONITOR_LXC_VPN_PORTS=51820,1194

# Тайм-аут отсутствия активности для VPN-клиентов (в секундах), по истечении которого считается, что клиент отключился
VPN_OFFLINE_TIMEOUT=1800

# Список пользователей VPN (через запятую), для которых не нужно присылать уведомления о подключении/отключении
VPN_IGNORE_USERS=monitoring_bot

# Отправлять ли предупреждения (WARNING) о нетипичных исходящих портах транзитных клиентов VPN (True/False)
ALERT_VPN_CLIENT_UNUSUAL_PORTS=False

# Период группировки (дебаунсинга) быстрых подключений/отключений VPN клиентов (в секундах)
# Все события в этом интервале будут отправлены одним красивым сообщением-сводкой
VPN_ALERT_DEBOUNCE_SEC=3.0

# ==========================================
# Мониторинг удаленного сервера (Target VPS)
# ==========================================
REMOTE_MONITOR_ENABLE=False

# Белый список процессов IPS, которые запрещено принудительно завершать (kill -9) (через запятую)
IPS_PROCESS_WHITELIST=hysteria,xray,sshd,caddy,nginx,mongod,python,python3,systemd,cron,fail2ban-server
REMOTE_SERVER_IP=your_vps_ip
REMOTE_SERVER_USER=root
REMOTE_SERVER_SSH_KEY=config/id_rsa_remote





